<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Object Detection-Biotatype.id</title>
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <nav>
        <div class="layar-dalam">
        <div class="logo">
            <a href=""><img src="/img/logo-removebg-preview1.png" class="putih" /></a>
        </div>
        <div class="menu">
            <a href="#" class="tombol-menu">
            <span class="garis"></span>
            <span class="garis"></span>
            <span class="garis"></span>
            </a>
            <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/getstarted" class="active">Get Started</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="layar-penuh">
        <header id="home">
        <div class="overlay"></div>
        <video autoplay muted loop>
            <source src="asset/video-indonesia.mp4" type="video/mp4" />
        </video>
        <div class="intro">
            <h3>Laut Indonesia</h3>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
            officiis?
            </p>
            <p>
            <!--<a href="" class="tombol">MORE INFO</a>-->
            </p>
        </div>
        </header>
        <main>
        <section id="aboutus">
            <div class="layar-dalam">
            <h3>About Us</h3>
            <p class="ringkasan">
                4 Pokok :
            </p>
            <div class="konten-isi">
                <p>
                1. Pengolahan data citra
                    Pemetaan dilakukan menggunakan data citra satelit Landsat 8 yang memiliki reolusi 30 meter x 30 meter dan beredar dalam waktu 16 hari. Data citra yang digunakan adalah data citra pada tanggal 14 mei 2021. Pemetaan bertujuan untuk mengetahui kadar suhu permukaan laut dan salinitas di wilayah perairan pulau adonaea.</p>
                    <p>2. Budidaya KJA
                        Keramba jaring apung adalah salah satu wadah budidaya perairan yang cukup ideal, yang ditempatkan di badan air dalam, seperti waduk, rawa, danau, dan laut. Keramba jaring apung menjadi salah satu wadah untuk penerapan budidaya perairan dengan sistem intensif dan terstruktur.
                        </p>
                        <p>
                            3. Lokasi pilihan
                            Pulau Adonara dan solor merupakan pulau kecil yang terletak di wilayah nusa tenggara timur.</p>
                            <p>4. biotatype.id
                                Ingin membudidaya ikan menggunakan keramba jaring apung (KJA)? Namun bingung terkait penentuan lokasi budidaya yang tepat? Biotatype.id hadir memberikan solusi dari permasalahan tersebut. Pada laman ini Anda dapat melakukan deteksi spesies biota laut dan menemukan lokasi budidaya yang tepat berdasarkan parameter yang berhubungan dengan keberlangsungan hidup spesies, yaitu: Suhu Permukaan Laut (SPL) dan kadar salinitas.
                            </p>
            </div>
            </div>
        </section>
        <!--<section class="abuabu" id="support">
            <div class="layar-dalam support">
            <div>
                <img src="asset/matahari.png" />
                <h6>In Every Condition</h6>
                <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                illum recusandae nostrum. Obcaecati, quos vel.
                </p>
            </div>
            <div>
                <img src="asset/tas.png" />
                <h6>Professional Team</h6>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem, ea voluptatem corporis molestias obcaecati
                deleniti.
                </p>
            </div>
            <div>
                <img src="asset/kompas.png" />
                <h6>Expert Hikers</h6>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem, ea voluptatem corporis molestias obcaecati
                deleniti.
                </p>
            </div>
            </div>
        </section>-->
        <section id="gallery">
            <div><img src="/img/abalone.jpg" /></div>
            <div><img src="/img/baronang.jpg" /></div>
            <div><img src="/img/belanak.jpg" /></div>
            <div><img src="/img/kakap merah.jpg" /></div>
            <div><img src="/img/tenggiri.jpg" /></div>
            <div><img src="/img/kerang hijau.jpg" /></div>
            <div><img src="/img/kerapu.jpg" /></div>
            <div><img src="/img/lobster.jpg" /></div>
            <div><img src="/img/rumput laut.jpg" /></div>
            <div><img src="/img/udang.jpg" /></div>
        </section>
        <section class="quote">
            <div class="layar-dalam">
            <p>Jogja terbuat dari rindu, pulang dan angkringan.</p>
            </div>
        </section>
        <section id="team">
            <div class="layar-dalam">
            <h3>Our Team</h3>
            <p class="ringkasan">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A,
                laborum!
            </p>
            <div class="tim">
                <div>
                <img src="/img/foto1.jpg" />
                <h6>Tri Yanti</h6>
                <span>SIG</span>
                </div>
                <div>
                <img src="/img/foto2.jpg" />
                <h6>Ramdhan Suhendra</h6>
                <span>Deployment</span>
                </div>
                <div>
                <img src="/img/foto3.jpg" />
                <h6>Zahra Inayah Nurhaliza</h6>
                <span>Evaluasi</span>
                </div>
                <div>
                <img src="/img/foto4.jpg" />
                <h6>Khovivah Nur Azizah</h6>
                <span>Data Visualization</span>
                </div>
                <div><img src="/img/foto5 (1).jpg" />
                    <h6>Catur Agus Baktiar</h6>
                    <span>UI/UX</span>
                </div>   
            </div>
            </div>
        </section>
        <section class="abuabu" id="blog">
            <div class="layar-dalam">
            <h3>Blog</h3>
            <p class="ringkasan">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                fugit.
            </p>
            <div class="blog">
                <div class="area">
                <div
                    class="gambar"
                    style="background-image: url('asset/blog1.jpg')"
                ></div>
                <div class="text">
                    <article>
                    <h4><a href="#">What About SEA?</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Placeat, est omnis? Quas reprehenderit rem nesciunt.
                    </p>
                    </article>
                </div>
                </div>
                <div class="area">
                <div
                    class="gambar"
                    style="background-image: url('asset/blog2.jpg')"
                ></div>
                <div class="text">
                    <article>
                    <h4><a href="#">What About Pulau Adanora?</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Placeat, est omnis? Quas reprehenderit rem nesciunt.
                    </p>
                    </article>
                </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <footer id="contact">
        <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h5>Marine Team</h5>
                    <ul>
                        <li><a href="#">was created by students and students from the kampus Merdeka program
                            who have creative ideas and extraordinary team spirit despite many obstacles and drama but they managed to create me today</a></li>
                    </ul>
                </div>
            <div class="footer-col">
                <h5>Link</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                </div>
                <div class="footer-col">
                    <h5>follow Us</h5>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fa-regular fa-envelope"></i></a>
                    </div>
                    </div>
            </div>
                <div class="layar-dalam">
                    <div class="copyright">&copy; 2022 Kampus Merdeka</div>
                </div>
        </footer>
    </footer>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>
    <script src={{url_for('static', filename="javascript.js")}}></script>
</body>
</html>